<!-- form/travel-form.component.html -->
<!--  -->
<form *ngIf="travelService.showForm" (ngSubmit)="submitForm()" class="form">
  <label for="imageUrl">Image URL</label>
  <input
    id="imageUrl"
    name="imageUrl"
    [(ngModel)]="travelData.imageUrl"
    value="../../assets/1.jpg"
  />

  <label for="name">Name</label>
  <input type="text" id="name" name="name" [(ngModel)]="travelData.name" />

  <label for="location">Location</label>
  <input
    type="text"
    id="location"
    name="location"
    [(ngModel)]="travelData.location"
  />

  <label for="description">Description</label>
  <textarea
    id="description"
    name="description"
    [(ngModel)]="travelData.description"
  ></textarea>

  <button mat-flat-button color="warn" type="submit">Submit</button>
</form>
