<div
  *ngIf="selectedData"
  class="fixed inset-0 flex items-center lg:ms-96 justify-center z-50 lg:w-1/2"
>
  <div class="fixed inset-0 bg-gray-900 opacity-70"></div>
  <div class="bg-white p-8 rounded-lg z-10">
    <div>
      <h2 class="text-xl font-semibold mb-4">Rental Details</h2>
    </div>
    <div>
      <img
        [src]="selectedData.imageUrl"
        alt=""
        class="w-screen h-60 object-cover rounded-lg"
      />
      <div class="py-5 flex flex-col gap-2">
        <p class="text-xl font-bold">{{ selectedData.name }}</p>
        <p class="">{{ selectedData.description }}</p>
        <p>Price : {{ selectedData.price }}</p>
        <p>Stock : {{ selectedData.stock }}</p>
        <p>Type : {{ selectedData.type }}</p>
        <p
          class="0 w-24 text-center py-1 font-semibold text-sm rounded-full"
          [ngClass]="
            selectedData.isAvailable
              ? 'text-green-900 bg-green-200'
              : 'text-red-900 bg-red-200'
          "
        >
          {{ selectedData.isAvailable ? "Available" : "UnAvailable" }}
        </p>
      </div>
    </div>

    <!-- Close button -->
    <button
      (click)="rentalService.resetSelectedData()"
      class="mt-4 bg-red-600 text-white py-2 px-5 rounded-md"
    >
      Close
    </button>
  </div>
</div>
