<div
  class="card bg-white mb-5 rounded-lg overflow-hidden lg:flex lg:gap-x-6 lg:items-center"
>
  <img
    [src]="rentalDataItem.imageUrl"
    alt="Gambar Product"
    class="w-screen h-60 object-cover lg:w-1/2"
  />
  <div class="p-3 lg:w-1/2">
    <p class="text-lg font-semibold">{{ rentalDataItem.name }}</p>
    <p>{{ rentalDataItem.description }}</p>
    <p>Type: {{ rentalDataItem.type }}</p>
    <p>Price: {{ rentalDataItem.price }}</p>
    <p>Stock: {{ rentalDataItem.stock }}</p>
    <div class="flex justify-between items-center">
      <p
        class="0 w-24 text-center py-1 font-semibold text-sm rounded-full"
        [ngClass]="
          rentalDataItem.isAvailable
            ? 'text-green-900 bg-green-200'
            : 'text-red-900 bg-red-200'
        "
      >
        {{ rentalDataItem.isAvailable ? "Available" : "Unavailable" }}
      </p>
      <button
        class="bg-red-600 text-white p-1 rounded-md font-semibold"
        (click)="onDeleteData()"
      >
        <img src="../../../assets/trash.svg" />
      </button>
    </div>
  </div>
</div>
